@font-face {
	font-family: 'icons';
	src:url('icons.eot?-tctzgn');
	src:url('icons.eot?#iefix-tctzgn') format('embedded-opentype'),
		url('icons.woff?-tctzgn') format('woff'),
		url('icons.ttf?-tctzgn') format('truetype'),
		url('icons.svg?-tctzgn#icons') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
	font-family: 'icons';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-bubbles:before {
	content: "\e600";
}
.icon-facebook2:before {
	content: "\e601";
}
.icon-phone:before {
	content: "\e63e";
}
.icon-mail4:before {
	content: "\e763";
}
.icon-leaf:before {
	content: "\e602";
}
