<header class="header"> 
    <div class="logo">
    <span data-picture data-alt="Logo el molar de rus">
    <a href="{{ url_for('home')}}" class="logo__link">
        <span class="logo__image" data-src=" {{ url_for('static', filename='images/logo-tag.png') }} "></span>
        <span class="logo__image" data-src=" {{ url_for('static', filename='images/logo-tag_x2.png') }} " data-media="(-webkit-min-device-pixel-ratio: 2.0),(min-resolution: 2dppx) "></span>
        
                        <!-- Fallback content for non-JS browsers. Same img src as the initial, unqualified source element. -->
        <noscript class="logo__image">
            <img src="{{ url_for('static', filename='images/logo-tag.png') }}" alt="Logo el molar de rus">
        </noscript>
    </span>
</div>
  
  {% set navigation_bar = [
    ('/', 'home', 'Inicio'),
    ('/products/', 'products', 'productos'),
    ('/tourism/', 'tourism', 'turismo rural'),
    ('/winery/', 'winery', 'la bodega y viñedos'),
    ('/about/', 'about', 'quienes somos'),
    ('/location/', 'location', 'localización'),
    ('/contact/', 'contact', 'contacto')
] -%}

{% set active_page = active_page|default('home') -%}


  
  <nav class="nav">
  <div class="nav--position-inside">
  <ul class="nav__list">
{% for href, id, name in navigation_bar %}
  <li{% if id == active_page %} class="nav__item nav__item--active" {% else %} class="nav__item" {% endif
  %}><a class="nav__link" href="{{ href|e }}">{{ name|e }}</a></li>
{% endfor %}
</ul>
  </div>
</nav>
  {% block header_content %}{% endblock %}
</header>
