/* line 17, ../../../../../../../../var/lib/gems/1.9.1/gems/compass-0.12.3/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../../../../var/lib/gems/1.9.1/gems/compass-0.12.3/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../../../../var/lib/gems/1.9.1/gems/compass-0.12.3/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../../../../var/lib/gems/1.9.1/gems/compass-0.12.3/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../../../../var/lib/gems/1.9.1/gems/compass-0.12.3/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../../../../var/lib/gems/1.9.1/gems/compass-0.12.3/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../../../../var/lib/gems/1.9.1/gems/compass-0.12.3/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../../../../var/lib/gems/1.9.1/gems/compass-0.12.3/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../../../../var/lib/gems/1.9.1/gems/compass-0.12.3/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

/* removes the unit of a given
 * number if have any, returns
 * the original number without 
 * the unit.
 */
/* returns a line height that being multiple
 * of the base line height is closer to the line
 * height calculated from the $size and the line 
 * height ratio.
 *
 * if we want to be able to config what bound should
 * be chosen were both lower and upper are at the same
 * distance we have to see if the lower bound is greater
 * than the font size, in other way you will get negative
 * leading that is not good as default.
 * So for now in this case the upper bound is always chosen.
 */
/*----- mixin font-face ------ */
/*------------ typography  loader ----------- */
@font-face {
  font-family: "icons";
  src: url("../web-fonts/font-icons/icons.eot");
  src: url("../web-fonts/font-icons/icons.eot?#iefix") format("embedded-opentype"), url("../web-fonts/font-icons/icons.woff") format("woff"), url("../web-fonts/font-icons/icons.ttf") format("truetype"), url("../web-fonts/font-icons/icons.svg#icons") format("svg");
  font-weight: normal;
  font-style: normal;
}

/* line 9, ../../sass_lib/_typography.sass */
html {
  font-size: 87.5%;
}

/*------------------------------------------------------------------
 * [Title Stylesheet]
 *
 * Project:	project-name
 * Version:	0.1
 * Last change:	05/02/08 
 * Author:	twissell
 * Primary use:	app-name
 * Acknowledgments:
 *
 *------------------------------------------------------------------- */
/* line 57, ../../sass_lib/_decorators.sass */
[data-icon]:before {
  font-size: 1.14286rem;
  line-height: 1.3125;
  font-family: icons;
  line-height: 1;
  content: " " attr(data-icon);
  speak: none;
}

/* line 10, ../../sass_lib/_recaptcha.scss */
.recaptcha_widget {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  max-width: 300px;
  border: 4px solid #af1500;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px;
  background: #af1500;
  margin: 0 0 10px;
}

/* line 20, ../../sass_lib/_recaptcha.scss */
#recaptcha_image {
  width: 100% !important;
  height: auto !important;
}
/* line 24, ../../sass_lib/_recaptcha.scss */
#recaptcha_image img {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  width: 100%;
  height: auto;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -ms-border-radius: 2px;
  -o-border-radius: 2px;
  border-radius: 2px;
  border: 3px solid #FFF;
}

/* line 35, ../../sass_lib/_recaptcha.scss */
.recaptcha_is_showing_audio embed {
  height: 0;
  width: 0;
  overflow: hidden;
}
/* line 41, ../../sass_lib/_recaptcha.scss */
.recaptcha_is_showing_audio #recaptcha_image {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  width: 100%;
  height: 60px;
  background: #FFF;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -ms-border-radius: 2px;
  -o-border-radius: 2px;
  border-radius: 2px;
  border: 3px solid #FFF;
}
/* line 49, ../../sass_lib/_recaptcha.scss */
.recaptcha_is_showing_audio #recaptcha_image br {
  display: none;
}
/* line 53, ../../sass_lib/_recaptcha.scss */
.recaptcha_is_showing_audio #recaptcha_image #recaptcha_audio_download {
  display: block;
}

/* line 60, ../../sass_lib/_recaptcha.scss */
.recaptcha_input {
  background: #ffdc73;
  color: #000;
  font: 13px/1.5 'HelveticaNeue', 'Helvetica Neue', Helvetica, Arial, 'Liberation Sans', FreeSans, sans-serif;
  margin: 4px 0 0;
  padding: 0 4px 4px;
  border: 4px solid #ffdc73;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -ms-border-radius: 2px;
  -o-border-radius: 2px;
  border-radius: 2px;
}
/* line 69, ../../sass_lib/_recaptcha.scss */
.recaptcha_input label {
  margin: 0 0 6px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
/* line 74, ../../sass_lib/_recaptcha.scss */
.recaptcha_input input {
  width: 100%;
}

/* line 80, ../../sass_lib/_recaptcha.scss */
.recaptcha_options {
  font-family: icons;
  list-style: none;
  margin: 4px 0 0;
  height: 18px;
}
/* line 86, ../../sass_lib/_recaptcha.scss */
.recaptcha_options li {
  float: left;
  margin: 0 4px 0 0;
}
/* line 90, ../../sass_lib/_recaptcha.scss */
.recaptcha_options li a {
  text-decoration: none;
  text-shadow: 0 1px 1px black;
  font-size: 16px;
  color: white;
  display: block;
  width: 20px;
  height: 18px;
}
/* line 99, ../../sass_lib/_recaptcha.scss */
.recaptcha_options li a:active {
  position: relative;
  top: 1px;
  text-shadow: none;
}

/* line 109, ../../sass_lib/_recaptcha.scss */
.captcha_hide {
  display: none;
}

/* line 2, ../../blocks/contact/_contact-form.sass */
form label {
  font-size: 1.2em;
  font-weight: bold;
  display: block;
  padding: 10px 0;
}
/* line 8, ../../blocks/contact/_contact-form.sass */
form input#name, form input#email, form input#subject {
  width: 100%;
  background-color: #fafafa;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  border: 1px solid #cccccc;
  padding: 5px;
  font-size: 1.1em;
}
/* line 17, ../../blocks/contact/_contact-form.sass */
form textarea#message {
  width: 100%;
  height: 100px;
  background-color: #fafafa;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  border: 1px solid #cccccc;
  margin-bottom: 10px;
  padding: 5px;
  font-size: 1.1em;
}
/* line 28, ../../blocks/contact/_contact-form.sass */
form input#submit {
  display: block;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  border: 1px solid #d8d8d8;
  padding: 10px;
  font-weight: bold;
  text-align: center;
  color: black;
  background-color: #f4f4f4;
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #f4f4f4), color-stop(100%, #e5e5e5));
  background-image: -webkit-linear-gradient(top, #f4f4f4, #e5e5e5);
  background-image: -moz-linear-gradient(top, #f4f4f4, #e5e5e5);
  background-image: -ms-linear-gradient(top, #f4f4f4, #e5e5e5);
  background-image: -o-linear-gradient(top, #f4f4f4, #e5e5e5);
  background-image: linear-gradient(top, #f4f4f4, #e5e5e5);
  filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#f4f4f4, endColorstr=#e5e5e5);
}
/* line 46, ../../blocks/contact/_contact-form.sass */
form input#submit:hover {
  cursor: pointer;
  border: 1px solid #c1c1c1;
  background-color: #dbdbdb;
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #dbdbdb), color-stop(100%, #cccccc));
  background-image: -webkit-linear-gradient(top, #dbdbdb, #cccccc);
  background-image: -moz-linear-gradient(top, #dbdbdb, #cccccc);
  background-image: -ms-linear-gradient(top, #dbdbdb, #cccccc);
  background-image: -o-linear-gradient(top, #dbdbdb, #cccccc);
  background-image: linear-gradient(top, #dbdbdb, #cccccc);
  filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#dbdbdb, endColorstr=#cccccc);
}

/********************************************
 *
 * RESET
 *
 ******************************************** */
/* line 26, ../../blocks/main.sass */
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 29, ../../blocks/main.sass */
a {
  text-decoration: none;
  color: inherit;
}

@media only screen and (min-width: 1021px) {
  /* line 34, ../../blocks/main.sass */
  html {
    font-size: 100%;
  }
}
@media only screen and (min-width: 1600px) {
  /* line 34, ../../blocks/main.sass */
  html {
    font-size: 137.5%;
  }
}

/********************************************
 *
 * HEADER
 *
 ******************************************** */
/* line 48, ../../blocks/main.sass */
.header {
  /*** background *** */
  background-color: #1e1e1e;
  /*** layout *** */
  position: relative;
}

/********************************************
 *
 * LOGO
 *
 ******************************************** */
/* line 61, ../../blocks/main.sass */
.logo {
  /*** layout *** */
}
@media only screen and (min-width: 1px) {
  /* line 61, ../../blocks/main.sass */
  .logo {
    text-align: center;
  }
}
@media only screen and (min-width: 600px) {
  /* line 61, ../../blocks/main.sass */
  .logo {
    text-align: left;
    position: absolute;
    z-index: 99999;
  }
}

/* line 72, ../../blocks/main.sass */
.logo__image {
  height: 10.5rem;
}

/********************************************
 *
 * NAV
 *
 ******************************************** */
/* line 81, ../../blocks/main.sass */
.nav {
  /*** foreground *** */
  color: #f6f5ee;
}

@media only screen and (min-width: 600px) {
  /* line 86, ../../blocks/main.sass */
  .nav--position-inside {
    padding-left: 10.5rem;
  }
}

/* line 91, ../../blocks/main.sass */
.nav__list {
  /*** layout *** */
}
@media only screen and (min-width: 1px) {
  /* line 91, ../../blocks/main.sass */
  .nav__list {
    text-align: center;
  }
}
@media only screen and (min-width: 600px) {
  /* line 91, ../../blocks/main.sass */
  .nav__list {
    text-align: left;
  }
}
@media only screen and (min-width: 1021px) {
  /* line 91, ../../blocks/main.sass */
  .nav__list {
    text-align: justify;
  }
  /* line 6, ../../sass_lib/_justify.sass */
  .nav__list {
    font-size: 0;
  }
  /* line 8, ../../sass_lib/_justify.sass */
  .nav__list:after {
    content: "";
    width: 100%;
    display: inline-block;
  }
}

/* line 103, ../../blocks/main.sass */
.nav__item {
  /*** typography *** */
  font-size: 0.85714rem;
  line-height: 1.5;
  font-family: "Open Sans", Helvetica, Verdana, Arial, sans-serif;
  text-transform: uppercase;
  /*** spacers *** */
  margin: 1rem;
  /*** layout *** */
  display: inline-block;
}

/********************************************
 *
 * TAGLINE
 *
 ******************************************** */
/* line 120, ../../blocks/main.sass */
.tagline {
  /*** typography *** */
  /*** background *** */
  background-image: url("../images/tagline__background.jpg");
  /*** layout *** */
  position: relative;
  /*** spacers *** */
  padding: 1.5rem;
}
@media only screen and (min-width: 1px) {
  /* line 120, ../../blocks/main.sass */
  .tagline {
    text-align: center;
  }
}

/* line 135, ../../blocks/main.sass */
.tagline h2 {
  /*** typography *** */
  font-size: 2.57143rem;
  line-height: 1.75;
  font-family: "Open Sans", Helvetica, Verdana, Arial, sans-serif;
  font-weight: 300;
  /*** foreground *** */
  color: #f6f5ee;
}

/* line 143, ../../blocks/main.sass */
.tagline p {
  /*** typography *** */
  font-size: 1.5rem;
  line-height: 1.52381;
  font-family: "Open Sans", Helvetica, Verdana, Arial, sans-serif;
  font-weight: 300;
  /*** foreground *** */
  color: #f6f5ee;
}

/* line 151, ../../blocks/main.sass */
.tagline strong {
  font-weight: 400;
}

/* line 154, ../../blocks/main.sass */
.word_y {
  /*** typography *** */
  font-size: 1.5rem;
  line-height: 1.52381;
  font-family: "Droid Serif", Georgia, "Times New Roman", Times, serif;
  font-style: italic;
  text-transform: lowercase;
  /*** layout *** */
  display: block;
}
@media only screen and (min-width: 1021px) {
  /* line 154, ../../blocks/main.sass */
  .word_y {
    display: inline;
  }
}

/* line 165, ../../blocks/main.sass */
.word_en {
  /*** typography *** */
  font-size: 1.5rem;
  line-height: 1.52381;
  font-family: "Droid Serif", Georgia, "Times New Roman", Times, serif;
  font-style: italic;
  text-transform: lowercase;
  /*** layout *** */
  display: block;
}

/* line 174, ../../blocks/main.sass */
.word_manchuela {
  /*** typography *** */
  font-size: 2.57143rem;
  line-height: 1.75;
  font-family: "Open Sans", Helvetica, Verdana, Arial, sans-serif;
  text-transform: uppercase;
}

/* line 179, ../../blocks/main.sass */
.word_m {
  /*** foreground *** */
  color: #d6a34b;
}

/********************************************
 *
 * TITLE
 *
 ******************************************** */
/* line 191, ../../blocks/main.sass */
.title {
  /*** typography *** */
  /*** background *** */
  background-image: url("../images/tagline__background.jpg");
  /*** layout *** */
  position: relative;
  /*** spacers *** */
}
@media only screen and (min-width: 1px) {
  /* line 191, ../../blocks/main.sass */
  .title {
    text-align: center;
  }
}

/* line 206, ../../blocks/main.sass */
.title h2 {
  /*** typography *** */
  font-size: 2.57143rem;
  line-height: 1.75;
  font-family: "Open Sans", Helvetica, Verdana, Arial, sans-serif;
  font-weight: 300;
  padding: 6.28571rem 0;
  /*** foreground *** */
  color: #f6f5ee;
}

/********************************************
 *
 * PRODUCTS_EXCERPT
 *
 ******************************************** */
/* line 222, ../../blocks/main.sass */
.products_excerpt {
  /*** layout *** */
}
@media only screen and (min-width: 600px) {
  /* line 222, ../../blocks/main.sass */
  .products_excerpt {
    overflow: hidden;
  }
}

/* line 228, ../../blocks/main.sass */
.products_excerpt__text {
  /*** background *** */
  background-color: #f6f5ee;
  /*** layout *** */
}
@media only screen and (min-width: 600px) {
  /* line 228, ../../blocks/main.sass */
  .products_excerpt__text {
    display: inline-block;
    width: 50%;
    vertical-align: top;
    margin-bottom: -9999999px;
    padding-bottom: 9999999px;
  }
}

/* line 238, ../../blocks/main.sass */
.products_excerpt__text--position-inside {
  /*** spacers *** */
  padding: 1.5rem;
}

/* line 243, ../../blocks/main.sass */
.products_excerpt__text p {
  /*** typography *** */
  font-size: 1rem;
  line-height: 1.5;
  font-family: "Open Sans", Helvetica, Verdana, Arial, sans-serif;
  /*** foreground *** */
  color: #6d6e71;
  /*** spacers *** */
  margin-bottom: 1.5rem;
}

/* line 254, ../../blocks/main.sass */
.products_excerpt__text strong {
  font-weight: 700;
}

/* line 257, ../../blocks/main.sass */
.products_excerpt__text em {
  font-style: italic;
}

/* line 260, ../../blocks/main.sass */
.products_excerpt__title {
  /*** typography *** */
  font-size: 1.5rem;
  line-height: 1.48571;
  font-family: "Droid Serif", Georgia, "Times New Roman", Times, serif;
  font-style: italic;
  /*** foreground *** */
  color: #1e1e1e;
  /*** spacers *** */
  margin-bottom: 1.5rem;
}

/* line 272, ../../blocks/main.sass */
.products_excerpt__title:first-letter {
  font-size: 150%;
  letter-spacing: -2px;
}

/* line 275, ../../blocks/main.sass */
.products_excerpt__list {
  /*** background *** */
  background-image: url("../images/textures/light_background.png");
  /*** layout *** */
}
@media only screen and (min-width: 600px) {
  /* line 275, ../../blocks/main.sass */
  .products_excerpt__list {
    display: inline-block;
    width: 50%;
    vertical-align: top;
    margin-bottom: -9999999px;
    padding-bottom: 9999999px;
  }
}

/* line 285, ../../blocks/main.sass */
.products_excerpt__list--position-inside {
  /*** spacers *** */
  padding: 1.5rem;
}

/********************************************
 *
 * PRODUCT_EXCERPT
 *
 ******************************************** */
/* line 296, ../../blocks/main.sass */
.product_excerpt {
  /*** typography *** */
  /*** spacers *** */
  margin-bottom: 1.5rem;
}
@media only screen and (min-width: 1px) {
  /* line 296, ../../blocks/main.sass */
  .product_excerpt {
    text-align: center;
  }
}
@media only screen and (min-width: 600px) {
  /* line 296, ../../blocks/main.sass */
  .product_excerpt {
    text-align: left;
    display: table;
    width: 100%;
  }
}

/* line 309, ../../blocks/main.sass */
.product_excerpt__image {
  height: 12em;
}
@media only screen and (min-width: 600px) {
  /* line 33, ../../sass_lib/_flag.sass */
  .product_excerpt__image > img {
    display: block;
    max-width: none;
  }
}

@media only screen and (min-width: 600px) {
  /* line 316, ../../blocks/main.sass */
  .product_excerpt__info {
    display: table-cell;
    vertical-align: middle;
    width: 100%;
  }
}

/* line 321, ../../blocks/main.sass */
.product_excerpt__name {
  /*** typography *** */
  font-size: 0.85714rem;
  line-height: 1.75;
  font-family: "Open Sans", Helvetica, Verdana, Arial, sans-serif;
  text-transform: uppercase;
  /*** foreground *** */
  color: #1e1e1e;
  /*** spacers *** */
  margin-bottom: 0.5rem;
}

/* line 332, ../../blocks/main.sass */
.product_excerpt__year {
  /*** typography *** */
  font-size: 0.85714rem;
  line-height: 1.75;
  font-family: "Droid Serif", Georgia, "Times New Roman", Times, serif;
  font-style: italic;
  /*** foreground *** */
  color: #6d6e71;
}

/* line 341, ../../blocks/main.sass */
.product_excerpt__ingredients {
  /*** typography *** */
  font-size: 0.85714rem;
  line-height: 1.75;
  font-family: "Droid Serif", Georgia, "Times New Roman", Times, serif;
  /*** foreground *** */
  color: #d6a34b;
  /*** spacers *** */
  margin-bottom: 0.5rem;
}

/* line 352, ../../blocks/main.sass */
.product_excerpt__type {
  /*** typography *** */
  font-size: 1rem;
  line-height: 1.5;
  font-family: "Open Sans", Helvetica, Verdana, Arial, sans-serif;
  font-variant: small-caps;
  /*** foreground *** */
  color: #6d6e71;
  /*** spacers *** */
  margin-bottom: 0.5rem;
}

/* line 363, ../../blocks/main.sass */
.product_excerpt__tasting_notes {
  /*** typography *** */
  font-size: 0.85714rem;
  line-height: 1.75;
  font-family: "Droid Serif", Georgia, "Times New Roman", Times, serif;
  font-weight: bold;
  /*** background *** */
  background-color: #1e1e1e;
  /*** foreground *** */
  color: #f6f5ee;
  /*** layout *** */
  display: inline-block;
  /*** container *** */
  -webkit-box-shadow: 0 0 2px black;
  -moz-box-shadow: 0 0 2px black;
  box-shadow: 0 0 2px black;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
  /*** spacers *** */
  padding: 0.5rem;
  margin-bottom: 0.5rem;
  /*** state *** */
}

/********************************************
 *
 * QUOTE
 *
 ******************************************** */
/* line 395, ../../blocks/main.sass */
.quote {
  /*** typography *** */
  /*** spacers *** */
  padding-top: 150px;
  margin-top: 6rem;
  margin-bottom: 1.5rem;
  /*** layout *** */
  position: relative;
}
@media only screen and (min-width: 1px) {
  /* line 395, ../../blocks/main.sass */
  .quote {
    text-align: center;
  }
}

/* line 408, ../../blocks/main.sass */
.quote:after {
  content: "\275e";
  /*** typography *** */
  font-size: 70px;
  line-height: 130px;
  text-align: center;
  /*** layout *** */
  position: absolute;
  width: 130px;
  height: 130px;
  top: 0;
  left: 65px;
  /*** spacers *** */
  margin-left: -65px;
  /*** container *** */
  border-radius: 50%;
  /*** background *** */
  background-color: #1e1e1e;
  /*** foreground *** */
  color: #d6a34b;
}
@media only screen and (min-width: 1px) {
  /* line 408, ../../blocks/main.sass */
  .quote:after {
    left: 50%;
  }
}

/* line 440, ../../blocks/main.sass */
.quote p {
  /*** typography *** */
  font-size: 1.28571rem;
  line-height: 1.16667;
  font-family: "Droid Serif", Georgia, "Times New Roman", Times, serif;
  font-style: italic;
  /*** foreground *** */
  color: #d6a34b;
  /*** container *** */
  border-top: 2px solid #edeadc;
  /*** layout *** */
  display: inline;
}
/* line 454, ../../blocks/main.sass */
.quote p:before {
  content: "\201c";
}
/* line 457, ../../blocks/main.sass */
.quote p:after {
  content: "\201d";
}

/* line 460, ../../blocks/main.sass */
.quote__footer {
  /*** typography *** */
}
@media only screen and (min-width: 1px) {
  /* line 460, ../../blocks/main.sass */
  .quote__footer {
    text-align: right;
  }
}

/* line 466, ../../blocks/main.sass */
.quote__author {
  /*** typography *** */
  font-size: 0.85714rem;
  line-height: 1.75;
  font-family: "Open Sans", Helvetica, Verdana, Arial, sans-serif;
  text-transform: uppercase;
  /*** foreground *** */
  color: #6d6e71;
}

/********************************************
 *
 * TOURISM_EXCERPT
 *
 ******************************************** */
/* line 482, ../../blocks/main.sass */
.tourism_excerpt {
  /*** background *** */
  background-color: #d6a34b;
}

/* line 487, ../../blocks/main.sass */
.tourism_excerpt__text p {
  /*** typography *** */
  font-size: 1rem;
  line-height: 1.5;
  font-family: "Open Sans", Helvetica, Verdana, Arial, sans-serif;
  /*** background *** */
  color: #f6f5ee;
  /*** spacers *** */
  margin-bottom: 1.5rem;
}

/* line 498, ../../blocks/main.sass */
.tourism_excerpt__text strong {
  font-weight: 700;
}

/* line 501, ../../blocks/main.sass */
.tourism_excerpt__text em {
  font-style: italic;
}

/* line 504, ../../blocks/main.sass */
.tourism_excerpt__body {
  /*** spacers *** */
  padding: 1.5rem;
  /*** layout *** */
}
@media only screen and (min-width: 600px) {
  /* line 504, ../../blocks/main.sass */
  .tourism_excerpt__body {
    display: inline-block;
    width: 50%;
    vertical-align: top;
  }
}

/* line 514, ../../blocks/main.sass */
.tourism_excerpt__title {
  /*** typography *** */
  font-size: 1.5rem;
  line-height: 1.48571;
  font-family: "Droid Serif", Georgia, "Times New Roman", Times, serif;
  font-style: italic;
  /*** foreground *** */
  color: #1e1e1e;
  /*** spacers *** */
  margin-bottom: 1.5rem;
}

/* line 525, ../../blocks/main.sass */
.tourism_excerpt__title:first-letter {
  font-size: 150%;
  letter-spacing: -2px;
}

/* line 528, ../../blocks/main.sass */
.tourism_excerpt__image {
  /*** spacers *** */
  padding: 1.5rem;
  /*** layout *** */
}
@media only screen and (min-width: 600px) {
  /* line 528, ../../blocks/main.sass */
  .tourism_excerpt__image {
    display: inline-block;
    width: 50%;
    vertical-align: top;
  }
}

/* line 537, ../../blocks/main.sass */
.tourism_excerpt__image img {
  width: 100%;
}

/********************************************
 *
 * FOOTER
 *
 ******************************************** */
/* line 547, ../../blocks/main.sass */
.footer {
  /*** background *** */
  background-color: #1e1e1e;
}

/* line 552, ../../blocks/main.sass */
.footer__info {
  /*** spacers *** */
  padding: 1.5rem;
  /*** layout *** */
}
@media only screen and (min-width: 600px) {
  /* line 552, ../../blocks/main.sass */
  .footer__info {
    display: inline-block;
    width: 50%;
    vertical-align: top;
  }
}
@media only screen and (min-width: 1021px) {
  /* line 552, ../../blocks/main.sass */
  .footer__info {
    display: inline-block;
    width: 25%;
    vertical-align: top;
  }
}

/* line 564, ../../blocks/main.sass */
.footer__info p {
  /*** typography *** */
  font-size: 1rem;
  line-height: 1.5;
  font-family: "Open Sans", Helvetica, Verdana, Arial, sans-serif;
  /*** foreground *** */
  color: #6d6e71;
}

/* line 572, ../../blocks/main.sass */
.footer__info h4 {
  /*** typography *** */
  font-size: 1rem;
  line-height: 1.5;
  font-family: "Open Sans", Helvetica, Verdana, Arial, sans-serif;
  text-transform: uppercase;
  /*** foreground *** */
  color: #f6f5ee;
  /*** spacers *** */
  margin-bottom: 1.5rem;
}

/* line 584, ../../blocks/main.sass */
.copyright {
  /*** spacers *** */
  padding: 1.5rem;
  /*** background *** */
  background-image: url("../images/textures/granular.png");
  /*** layout *** */
  text-align: right;
}

/* line 595, ../../blocks/main.sass */
.copyright p {
  /*** typography *** */
  font-size: 1rem;
  line-height: 1.5;
  font-family: "Open Sans", Helvetica, Verdana, Arial, sans-serif;
  font-variant: small-caps;
  /*** foreground *** */
  color: #6d6e71;
}

/********************************************
 *
 * CONTACT
 *
 ******************************************** */
/* line 609, ../../blocks/main.sass */
.contact {
  /*** background *** */
  background-color: #f6f5ee;
}

/* line 614, ../../blocks/main.sass */
.contact__form {
  width: 100%;
  /****spacers**** */
  padding: 5% 10%;
}

/* line 621, ../../blocks/main.sass */
.contact__form label {
  font-size: 1.5rem;
  line-height: 1.52381;
  font-family: "Open Sans", Helvetica, Verdana, Arial, sans-serif;
  font-weight: 300;
}

/* line 624, ../../blocks/main.sass */
.contact__form input {
  font-size: 1rem;
  line-height: 1.5;
  font-family: "Open Sans", Helvetica, Verdana, Arial, sans-serif;
}

/* line 627, ../../blocks/main.sass */
.contact__form textarea {
  font-size: 1rem;
  line-height: 1.5;
  font-family: "Open Sans", Helvetica, Verdana, Arial, sans-serif;
}

/* line 630, ../../blocks/main.sass */
.flash {
  /*****background*** */
  background-color: #fbb0b0;
  /*****spacers**** */
  padding: 10px;
  width: 90%;
}

/* line 639, ../../blocks/main.sass */
.form__title {
  /*** typography *** */
  font-size: 1.5rem;
  line-height: 1.48571;
  font-family: "Droid Serif", Georgia, "Times New Roman", Times, serif;
  font-style: italic;
  /*** foreground *** */
  color: #1e1e1e;
  /*** spacers *** */
  margin-bottom: 1.5rem;
}

/* line 650, ../../blocks/main.sass */
.form__success_message {
  /*** spacers *** */
  padding: 1.5rem;
  /*** typography *** */
  font-size: 1.5rem;
  line-height: 1.48571;
  font-family: "Open Sans", Helvetica, Verdana, Arial, sans-serif;
  /*** foreground *** */
  color: #1e1e1e;
}

/********************************************
 *
 * TOURISM
 *
 ******************************************** */
/* line 666, ../../blocks/main.sass */
.tourism__text.casa {
  /*** background *** */
  background-color: #f6f5ee;
}

/* line 671, ../../blocks/main.sass */
.tourism__text.entorno {
  /*** background *** */
  background-color: #afcbbc;
}

/* line 676, ../../blocks/main.sass */
.tourism__text.actividades {
  /*** background *** */
  background-color: #f6f5ee;
}

/* line 682, ../../blocks/main.sass */
.tourism__text--position-inside {
  /*** spacers *** */
}

/* line 687, ../../blocks/main.sass */
.tourism__text p {
  /*** typography *** */
  font-size: 1rem;
  line-height: 1.5;
  font-family: "Open Sans", Helvetica, Verdana, Arial, sans-serif;
  /*** foreground *** */
  color: #6d6e71;
  /*** spacers *** */
  margin-bottom: 1.5rem;
}

/* line 698, ../../blocks/main.sass */
.tourism__text strong {
  font-weight: 700;
}

/* line 701, ../../blocks/main.sass */
.tourism__text em {
  font-style: italic;
}

/* line 704, ../../blocks/main.sass */
.tourism__text hr {
  padding: 0;
  border: none;
  height: 1px;
  color: #1e1e1e;
  text-align: center;
  margin: 42px 0;
}
/* line 35, ../../sass_lib/_decorators.sass */
.tourism__text hr:after {
  font-family: "icons";
  content: attr(icon);
  display: inline-block;
  position: relative;
  top: -1.5rem;
  font-size: 3rem;
  padding: 0 0.25em;
}

/* line 707, ../../blocks/main.sass */
.tourism__image {
  padding: 1.5rem;
}
@media only screen and (min-width: 600px) {
  /* line 707, ../../blocks/main.sass */
  .tourism__image {
    display: inline-block;
    width: 50%;
    vertical-align: top;
  }
}

/* line 714, ../../blocks/main.sass */
.tourism__image img {
  width: 100%;
}

/* line 718, ../../blocks/main.sass */
.tourism__body {
  padding: 1.5rem;
}
@media only screen and (min-width: 600px) {
  /* line 718, ../../blocks/main.sass */
  .tourism__body {
    display: inline-block;
    width: 50%;
    vertical-align: top;
  }
}

/* line 725, ../../blocks/main.sass */
.tourism__title {
  /*** typography *** */
  font-size: 1.5rem;
  line-height: 1.48571;
  font-family: "Droid Serif", Georgia, "Times New Roman", Times, serif;
  font-style: italic;
  /*** foreground *** */
  color: #1e1e1e;
  /*** spacers *** */
  margin-bottom: 1.5rem;
}

/* line 736, ../../blocks/main.sass */
.tourism__title:first-letter {
  font-size: 150%;
  letter-spacing: -2px;
}

/********************************************
 *
 * ABOUT
 *
 ******************************************** */
/* line 746, ../../blocks/main.sass */
.about__text {
  /*** background *** */
  background-color: #f6f5ee;
}

/* line 751, ../../blocks/main.sass */
.about__text--position-inside {
  /*** spacers *** */
  padding: 1.5rem;
}

/* line 756, ../../blocks/main.sass */
.about__title {
  /*** typography *** */
  font-size: 1.5rem;
  line-height: 1.48571;
  font-family: "Droid Serif", Georgia, "Times New Roman", Times, serif;
  font-style: italic;
  /*** foreground *** */
  color: #1e1e1e;
  /*** spacers *** */
  margin-bottom: 1.5rem;
}

/* line 768, ../../blocks/main.sass */
.about__title:first-letter {
  font-size: 150%;
  letter-spacing: -2px;
}

/* line 773, ../../blocks/main.sass */
.about__text p {
  /*** typography *** */
  font-size: 1rem;
  line-height: 1.5;
  font-family: "Open Sans", Helvetica, Verdana, Arial, sans-serif;
  /*** foreground *** */
  color: #6d6e71;
  /*** spacers *** */
  margin-bottom: 1.5rem;
}

/* line 785, ../../blocks/main.sass */
.about__text strong {
  font-weight: 700;
}

/* line 788, ../../blocks/main.sass */
.about__text em {
  font-style: italic;
}

/* line 791, ../../blocks/main.sass */
.owner {
  text-align: right;
  font-size: 1rem;
  line-height: 1.5;
  font-family: "Open Sans", Helvetica, Verdana, Arial, sans-serif;
  font-variant: small-caps;
}

/********************************************
 *
 * WINERY
 *
 ******************************************** */
/* line 801, ../../blocks/main.sass */
.winery__text {
  /*** background *** */
  background-color: #f6f5ee;
}

/* line 806, ../../blocks/main.sass */
.winery__text--position-inside {
  /*** spacers *** */
  padding: 1.5rem;
}

/* line 811, ../../blocks/main.sass */
.winery__title {
  /*** typography *** */
  font-size: 1.5rem;
  line-height: 1.48571;
  font-family: "Droid Serif", Georgia, "Times New Roman", Times, serif;
  font-style: italic;
  /*** foreground *** */
  color: #1e1e1e;
  /*** spacers *** */
  margin-bottom: 1.5rem;
}

/* line 822, ../../blocks/main.sass */
.winery__title:first-letter {
  font-size: 150%;
  letter-spacing: -2px;
}

/* line 826, ../../blocks/main.sass */
.winery__text p {
  /*** typography *** */
  font-size: 1rem;
  line-height: 1.5;
  font-family: "Open Sans", Helvetica, Verdana, Arial, sans-serif;
  /*** foreground *** */
  color: #6d6e71;
  /*** spacers *** */
  margin-bottom: 1.5rem;
}

/* line 837, ../../blocks/main.sass */
.winery__text strong {
  font-weight: 700;
}

/* line 840, ../../blocks/main.sass */
.winery__text em {
  font-style: italic;
}

/********************************************
 *
 * PRODUCTS
 *
 ******************************************** */
/* line 849, ../../blocks/main.sass */
.products__text {
  /*** background *** */
  background-color: #f6f5ee;
}

/* line 854, ../../blocks/main.sass */
.products__text--position-inside {
  /*** spacers *** */
  padding: 1.5rem;
}

/* line 859, ../../blocks/main.sass */
.products__title {
  /*** typography *** */
  font-size: 1.5rem;
  line-height: 1.48571;
  font-family: "Droid Serif", Georgia, "Times New Roman", Times, serif;
  font-style: italic;
  /*** foreground *** */
  color: #1e1e1e;
  /*** spacers *** */
  margin-bottom: 1.5rem;
}

/* line 870, ../../blocks/main.sass */
.products__title:first-letter {
  font-size: 150%;
  letter-spacing: -2px;
}

/* line 873, ../../blocks/main.sass */
.products__text p {
  /*** typography *** */
  font-size: 1rem;
  line-height: 1.5;
  font-family: "Open Sans", Helvetica, Verdana, Arial, sans-serif;
  /*** foreground *** */
  color: #6d6e71;
  /*** spacers *** */
  margin-bottom: 1.5rem;
}

/* line 884, ../../blocks/main.sass */
.products__text strong {
  font-weight: 700;
}

/* line 887, ../../blocks/main.sass */
.products__text em {
  font-style: italic;
}

@media only screen and (min-width: 600px) {
  /* line 890, ../../blocks/main.sass */
  .products__list {
    overflow: hidden;
  }
}

/********************************************
 *
 * PRODUCT
 *
 ******************************************** */
@media only screen and (min-width: 1021px) {
  /* line 901, ../../blocks/main.sass */
  .product {
    display: inline-block;
    width: 50%;
    vertical-align: top;
    margin-bottom: -9999999px;
    padding-bottom: 9999999px;
  }
}

/* line 913, ../../blocks/main.sass */
.product__body, .product__image {
  padding: 3rem 1.5rem;
}

/* line 917, ../../blocks/main.sass */
.product__body {
  display: table;
  width: 100%;
}

@media only screen and (min-width: 600px) {
  /* line 33, ../../sass_lib/_flag.sass */
  .product__image > img {
    display: block;
    max-width: none;
  }
}

/* line 925, ../../blocks/main.sass */
.product__info {
  padding: 0 1.5rem;
}
@media only screen and (min-width: 1px) {
  /* line 925, ../../blocks/main.sass */
  .product__info {
    text-align: center;
  }
}
@media only screen and (min-width: 600px) {
  /* line 925, ../../blocks/main.sass */
  .product__info {
    display: table-cell;
    vertical-align: middle;
    width: 100%;
    text-align: left;
  }
}

/* line 936, ../../blocks/main.sass */
.quantum-blend {
  background: #f4f4f4 url("../images/textures/light_background.png");
}

/* line 940, ../../blocks/main.sass */
.quantum-syrah {
  background: #efefef url("../images/textures/light_background.png");
}

/* line 945, ../../blocks/main.sass */
.bag-in-box {
  background: #e5e5e5 url("../images/textures/light_background.png");
}

/* line 949, ../../blocks/main.sass */
.olive-oil {
  background: #dbdbdb url("../images/textures/light_background.png");
}

@media only screen and (min-width: 1px) {
  /* line 954, ../../blocks/main.sass */
  .product__image {
    text-align: center;
  }
}

/* line 958, ../../blocks/main.sass */
.product__image img {
  height: 15em;
}

/* line 961, ../../blocks/main.sass */
.product__name {
  /*** typography *** */
  font-size: 0.85714rem;
  line-height: 1.75;
  font-family: "Open Sans", Helvetica, Verdana, Arial, sans-serif;
  text-transform: uppercase;
  /*** foreground *** */
  color: #1e1e1e;
  /*** spacers *** */
  margin-bottom: 0.5rem;
}

/* line 972, ../../blocks/main.sass */
.product__year {
  /*** typography *** */
  font-size: 0.85714rem;
  line-height: 1.75;
  font-family: "Droid Serif", Georgia, "Times New Roman", Times, serif;
  font-style: italic;
  /*** foreground *** */
  color: #6d6e71;
}

/* line 981, ../../blocks/main.sass */
.product__ingredients {
  /*** typography *** */
  font-size: 0.85714rem;
  line-height: 1.75;
  font-family: "Droid Serif", Georgia, "Times New Roman", Times, serif;
  /*** foreground *** */
  color: #9f1d35;
  /*** spacers *** */
  margin-bottom: 0.5rem;
}

/* line 992, ../../blocks/main.sass */
.product__type {
  /*** typography *** */
  font-size: 1rem;
  line-height: 1.5;
  font-family: "Open Sans", Helvetica, Verdana, Arial, sans-serif;
  font-variant: small-caps;
  /*** foreground *** */
  color: #6d6e71;
  /*** spacers *** */
  margin-bottom: 0.5rem;
}

/* line 1003, ../../blocks/main.sass */
.product__tasting_notes {
  text-align: left;
}

/********************************************
 *
 * FEATURES
 *
 ******************************************** */
/* line 1012, ../../blocks/main.sass */
.features {
  padding: 0.5rem;
  padding-left: 0;
  display: inline-block;
  width: 50%;
  vertical-align: top;
}

/* line 1019, ../../blocks/main.sass */
.features__item:before {
  content: "\e618";
  font-family: icons;
  display: inline-block;
  margin-left: -1.2em;
  width: 1.2em;
  color: #8db600;
}

/* line 1027, ../../blocks/main.sass */
.features__title {
  font-size: 1rem;
  line-height: 1.5;
  font-family: "Open Sans", Helvetica, Verdana, Arial, sans-serif;
}

/* line 1030, ../../blocks/main.sass */
.features__item {
  font-size: 0.85714rem;
  line-height: 1.75;
  font-family: "Open Sans", Helvetica, Verdana, Arial, sans-serif;
  font-weight: 300;
}

/********************************************
 *
 * LOCATION
 *
 ******************************************** */
/* line 1040, ../../blocks/main.sass */
.location {
  padding: 3rem 1.5rem;
}

/* line 1043, ../../blocks/main.sass */
iframe {
  display: block;
  border: 1px solid grey;
  margin: 0 auto;
}
@media only screen and (min-width: 1px) {
  /* line 1043, ../../blocks/main.sass */
  iframe {
    width: 16.5em;
    height: 16.5em;
  }
}
@media only screen and (min-width: 600px) {
  /* line 1043, ../../blocks/main.sass */
  iframe {
    width: 30em;
    height: 30em;
  }
}
