{% extends 'content/content.html' %}
{% block content%}

  <div class="contact-form">
  
    <h2>Formulario de contacto</h2>
    <form action="{{ url_for('contact') }}" method=post>
      {{ form.hidden_tag() }}

      {{ form.name.label }}
       {% for message in form.name.errors %}
  <div class="flash">{{ message }}</div>
{% endfor %}
      {{ form.name (class_="name")}}

      {{ form.email.label }}
       {% for message in form.email.errors %}
  <div class="flash">{{ message }}</div>
{% endfor %}
      {{ form.email }}

      {{ form.subject.label }}
       {% for message in form.subject.errors %}
  <div class="flash">{{ message }}</div>
{% endfor %}
      {{ form.subject }}

      {{ form.message.label }}
       {% for message in form.message.errors %}
  <div class="flash">{{ message }}</div>
{% endfor %}
      {{ form.message }}
      
      {{ form.recaptcha }}
 
      {{ form.submit }}
    </form>
  </div>
{% endblock %}
