{% extends 'content/content.html' %}
{% block content%}
<section class="winery">
    <div class="winery__text">
      <div class="winery__text--position-inside">
	  <h3 class="winery__title">Nuestros viñedos</h3>
	  
<p>Nuestros viñedos están cultivados en terrenos pedregosos, calizo calcáreos a más de 650 metro de altura. Contamos tanto con variedades internacionales como Merlot, Cabernet Sauvignon y Syrah, como con variedades propias de la región como son Graciano y Moravia. Sólo elaboramos con uvas propias por lo que nuestros vinos tienen una personalidad propia y única, siendo remarcable la mineralidad de los mismos debido al suelo formado por caliza, tiza y grafito.</p> 

<p>Las viñas son fertilizadas con abonos naturales y se hace un estricto control sanitario de las mismas cumpliendo con los requisitos aplicables para productos vegetales y obteniendo así el certificado de productor ecológico.</p>

<p>Las producciones son controladas y la vendimia mecanizada y nocturna, desde la recogida de la uva al comienzo de la elaboración del vino no hay más de veinte minutos, no existiendo posibilidad de perder el control de la fermentación.</p>

<h3 class="winery__title">Nuestra bodega</h3>
<p>La elaboración se realiza con granos completos sin prensa previa, la maceración es controlada con bajas temperaturas y remontes para obtener el color y los aromas de los hollejos.</p>  

<p>La fermentación se realiza con levaduras naturales y controlando la temperatura.</p>  

<p>El prensado a través de tradicionales prensas verticales separando el vino de prensa del de lágrima, garantizando productos de calidad.</p> 

<p>Contamos con sala de crianza con barricas de roble francés y americano,  nuestros vinos tienen  una crianza de dos a doce meses en barrica, con un posterior periodo de descanso en botella antes de su puesta en el mercado. </p>
    </div>
      </div>
</section>


{% endblock %}
