{% extends 'content/content.html' %}
{% block content%}
<section class="tourism">
    <div class="tourism-message">
      <div class="tourism-message__inner">
	  <h3 class="tourism__title">Ven a visitarnos</h3>
	<p>El Molar de Rus está emplazado en un <strong>antiguo caserío de labranza</strong> típico de la región, hoy convertida en finca de <em>agroturismo.</em> Está atravesado por un <em>arroyo</em>, El Galayo, y rodeado de viñedos. La comarca destaca por su <strong>riqueza paisajística y cultural.</strong></p>
        <p>Puedes <strong>alquilar habitaciones</strong> durante todo el año para una estancia de <strong>Turismo Rural</strong>. Podrás 
realizar excursiones y actividades deportivas y de aventura a pocos kilómetros en Alcalá del 
Júcar, Jorquera y las Hoces del Cabriel.</p>
    </div>
      </div><!--
--><div class="tourism__media">
	  <div class="tourism__media__inner polaroids">
          <figure> 
	      <img src="{{ url_for('static', filename="images/tourism__image-1.jpg") }}" alt="Patio interior"/>
	    <figcaption>Patio interior</figcaption>
	  </figure>

          <figure>  
	      <img src="{{ url_for('static', filename="images/tourism__image-2.jpg") }}" alt="Vinedos"/>
	    <figcaption>Viñedos</figcaption>
	  </figure>
	  </div>
	</div>
</div>
    <div class="tourism-message">
      <div class="tourism-message__inner">
	  <h3 class="tourism__title">Ven a visitarnos</h3>
	<p>El Molar de Rus está emplazado en un <strong>antiguo caserío de labranza</strong> típico de la región, hoy convertida en finca de <em>agroturismo.</em> Está atravesado por un <em>arroyo</em>, El Galayo, y rodeado de viñedos. La comarca destaca por su <strong>riqueza paisajística y cultural.</strong></p>
        <p>Puedes <strong>alquilar habitaciones</strong> durante todo el año para una estancia de <strong>Turismo Rural</strong>. Podrás 
realizar excursiones y actividades deportivas y de aventura a pocos kilómetros en Alcalá del 
Júcar, Jorquera y las Hoces del Cabriel.</p>
    </div>
      </div><!--
--><div class="tourism__media">
	  <div class="tourism__media__inner polaroids">
          <figure> 
	      <img src="{{ url_for('static', filename="images/tourism__image-1.jpg") }}" alt="Patio interior"/>
	    <figcaption>Patio interior</figcaption>
	  </figure>

          <figure>  
	      <img src="{{ url_for('static', filename="images/tourism__image-2.jpg") }}" alt="Vinedos"/>
	    <figcaption>Viñedos</figcaption>
	  </figure>
	  </div>
	</div>
</div>
</section>


{% endblock %}
