{% extends 'content/content.html' %}
{% block content%}
<section class="winery">
    <div class="winery__text">
      <div class="winery__text--position-inside">
	  <h3 class="winery__title">Nuestros viñedos</h3>
	  
<p>Nuestros viñedos están cultivados en <strong>terrenos pedregosos, calizo calcáreos</strong>.  Los suelos de los sedimentos de los ríos Júcar y Cadriel recogen y mantienen el agua de lluvia que cae cuando la uva todavía no ha crecido. </p> 

<p>La ausencia casi total de lluvias entre los meses de mayo y septiembre y la cantidad de horas de sol durante el periodo de maduración reducen el riesgo de enfermedades al mínimo. </p>

<p>Las viñas están situadas a una altitud de entre 650 y 750 metros sobre el nivel del mar en un <strong>clima continental</strong>, influenciadas por los vientos húmedos del Levante. Las altas temperaturas durante el día y las bajas temperaturas nocturnas, así como la <em>brisa mediterránea</em> favorecen una <strong>maduración lenta</strong> y la perfecta formación de <strong>polifenoles</strong>. </p>

<p>Todo esto unido al control de la producción nos ofrece un entorno idóneo para garantizar la distinta personalidad y extraordinaria calidad de nuestros vinos. </p>  

<p>Contamos tanto con <strong>variedades internacionales</strong> como <strong>Merlot, Cabernet Sauvignon y Syrah</strong>, como con <strong>variedades propias de la región</strong> como son <strong>Graciano y Moravia</strong>. Sólo elaboramos con uvas propias por lo que nuestros vinos tienen una personalidad propia y única, siendo remarcable la <em>mineralidad</em> de los mismos debido al suelo. </p>  

<h3 class="winery__title">Producción ecológica</h3>


<p>Las viñas son fertilizadas con <strong>abonos naturales</strong> y se hace un estricto control sanitario de las mismas cumpliendo con los requisitos aplicables para productos vegetales y obteniendo así el <strong>certificado de productor ecológico</strong>. </p> 

<p>Las producciones son controladas y la vendimia mecanizada y nocturna, desde la recogida de la uva al comienzo de la elaboración del vino no hay más de veinte minutos, no existiendo posibilidad de perder el control de la fermentación. </p>

<p>La elaboración se realiza con granos completos sin prensa previa, la maceración es controlada con bajas temperaturas y remontes para obtener el color y los aromas de los hollejos. </p> 

<p>La fermentación se realiza con <strong>levaduras naturales</strong> y controlando la temperatura.  </p>

<p>El prensado a través de tradicionales prensas verticales separando el vino de prensa del de lágrima, garantizando productos de calidad.  </p> 

<p>Contamos con sala de <strong>crianza con barricas de roble francés y americano</strong>, nuestros vinos tienen una crianza de <strong>dos a doce meses en barrica</strong>, con un <strong>posterior periodo de descanso en botella</strong> antes de su puesta en el mercado.</p> 

    </div>
      </div>
</section>


{% endblock %}
