{% extends 'content/content.html' %}
{% block content%}
<section class="tourism">
    <div class="tourism__text casa">
      <div class="tourism__text--position-inside">
	  <h3 class="tourism__title">La casa</h3>
	   <img class="tourism__image" src="{{ url_for('static', filename="images/la-casa.jpg") }}" alt="Patio interior"/>
	<p>El Molar de Rus forma parte de la historia, “El Galayo” era un cazadero prehistórico, la casa, que data del s. XVIII tiene cercano

un molino en el que trabajó allá por 1870 el molinero Francisco Monedero que abastecía al pueblo de Fuentealbilla.

En la actualidad se ha convertido en una finca de agroturismo, la casa ha sido reformada como hotel rural y en su entorno se 

pueden realizar actividades como tiro al plato, caza y pesca.</p>
    </div>
      </div>

    <div class="tourism__text entorno">
      <div class="tourism__text--position-inside">
	  <h3 class="tourism__title">El entorno</h3>
	    <img class="tourism__image" src="{{ url_for('static', filename="images/entorno.jpg") }}" alt="Patio interior"/>
	<p>La Finca “El Molar de Rus” está situada en Fuentealbilla (Albacete), en el corazón de la región de la Manchuela, también conocida

como la Mesopotamia Manchega, fuertemente influenciada por la proximidad de los ríos Cabriel y Júcar y sus valles, y sobre todo 

por el arroyo “El Galayo” que atraviesa la finca formando pendientes y laderas donde se encuentran plantadas las viñas, todas 

ellas cultivadas como producción ecológica.</p>
<hr class="style-line--gradient">
<p>Surcada por los ríos Júcar y Cabriel, La Manchuela es una comarca llena de contrastes que seduce al viajero por su riqueza 

paisajística y cultural. Situada en el extremo nororiental de la provincia de Albacete y al Sureste de Cuenca sus señas de identidad 

proceden de un pasado que ha dejado sus huellas con iglesias, castillos y murallas a través de las distintas civilizaciones que la

habitaron, entre ellos íberos, árabes, romanos...</p>
    </div>
      </div>

</section>


{% endblock %}
