{% extends 'content/content.html' %}
{% block content%}
<section class="products">
    <div class="products__text casa">
      <div class="products__text--position-inside">
	  <h3 class="products__title">Producción ecológica</h3>
<p>Como productores ecológicos buscamos la sostenibilidad integral del sistema de producción tratando de crear en la finca un agrosistema social, ecológico y económicamente sostenible. 
Por ello tratamos de plasmar nuestros valores de sostenibilidad, equilibrio, utilización óptima de recursos naturales y diversidad biológica en diferentes aspectos tales como la producción, la elaboración y el entorno. </p>
    </div>
      </div>

    <ul class="products__list">
     <div class="products__list--position-inside">
         <li class="products__item product quantum-blend">
	   <div class="product__body">
	    <div class="product__image">
              <img src="{{ url_for('static', filename='images/product__image-1.png') }}" /> 
	    </div>
	    <div class="product__info">
	      <p class="product__name">Quantum blend <span class="product__year">2011</span></p>
              <p class="product__ingredients">Merlot, Cabernet Sauvignon, Syrah</p>
	      <p class="product__type">Ecológico<span aria-hidden="true" data-icon="&#xe602;"></span></p>
	      
	       <ul class="product__tasting_notes"   id="tasting_notes-blend">
	          <li class="features">
	          <ul class="features__list">
	            <h4 class="features__title">Colores:</h4>
	            <li class="features__item">Vivo</li>
	            <li class="features__item">Brillante</li> 
	            <li class="features__item">Toques rubís</li>
	          </ul>
		  </li><!--
		--><li class="features">
	          <ul class="features__list">
		  <h4 class="features__title">Aroma:</h4>
	          <li class="features__item">Predomina el Merlot</li>
	          <li class="features__item">Toques florales (violetas)</li> 
	          <li class="features__item">Frutas en licor compotadas</li>
	          <li class="features__item">Frutas negras (algo de ciruela)</li>
	        </ul>
		</li><!--
	       --><li class="features">
	          <ul class="features__list">
		  <h4 class="features__title">Boca:</h4>
	          <li class="features__item">Paso en boca fácil</li>
	          <li class="features__item">Tanino no agresivo</li> 
	        </ul>
		</li>
	      </ul>
	      </div>
            </div>
      </li><!--

	--><li class="products__item product quantum-syrah">
         <div class="product__body">     
       <div class="product__image">
              <img src="{{ url_for('static', filename='images/product__image-2.png') }}" /> 
	    </div>
	    <div class="product__info">              
	      <p class="product__name">Quantum Syrah <span class="product__year">2011</span></p>
              <p class="product__ingredients">Syrah 100%</p>
	      <p class="product__type">Ecológico<span aria-hidden="true" data-icon="&#xe602;"></span></p>
              <ul class="product__tasting_notes tasting_notes" id="tasting_notes-syrah">
	        <li class="features">
	          <ul class="features__list">
	            <h4 class="features__title">Colores:</h4>
	            <li class="features__item">Más vivo que el multivariertal</li>
	          </ul>
		  </li><!--
		--><li class="features">
	          <ul class="features__list">
		  <h4 class="features__title">Aroma:</h4>
	          <li class="features__item">Predomina más la fruta fresca, no compotada</li>
	        </ul>
		</li><!--
	       --><li class="features">
	          <ul class="features__list">
		  <h4 class="features__title">Boca:</h4>
	          <li class="features__item">Toques ligeramente especiados por el ligero aporte de la madera en boca.</li>
	        </ul>
		</li>
	      </ul>
	      </div>
          </div>
         </li><!--
         
	 --><li class="products__item product bag-in-box">
	 <div class="product__body">
	 <div class="product__image">
            <img src="{{ url_for('static', filename='images/product__image-4.png') }}" /> 
	    </div>
	    <div class="product__info">              
	      <p class="product__name">Hacienda El Molar <span class="product__year">Bag in Box 5 l. </span></p>
              <p class="product__ingredients">Merlot, Cabernet Sauvignon, Syrah </p>
	      <p class="product__type">Ecológico<span aria-hidden="true" data-icon="&#xe602;"></span></p>
          </div>
	  </div>
         </li><!--

	--><li class="products__item product olive-oil">
	 <div class="product__body">
	 <div class="product__image"> 
            <img src="{{ url_for('static', filename='images/product__image-3.png') }}" /> 
	    </div>
	    <div class="product__info">             
	      <p class="product__name">Aceite Aldea del Molar</p>
              <p class="product__ingredients">Arbequina</p>
	      <p class="product__type" >Virgen Extra de primera extracción</p>
              <ul class="product__tasting_notes tasting_notes" id="tasting_notes-oil">
                <li class="features">
	          <ul class="features__list">
		  <h4 class="features__title">Aroma:</h4>
	          <li class="features__item">Muy varietal y fresco</li>
	          <li class="features__item">Aromas a hojas de tomatera y toques vegetales</li>
	        </ul>
		</li><!--
	       --><li class="features">
	          <ul class="features__list">
		  <h4 class="features__title">Boca:</h4>
	          <li class="features__item">De gusto dulce</li>
	        </ul>
		</li>
	      </ul>
		</div>
          </div>
        </li>	
      </div>
    </ul>
</section>


{% endblock %}
