{% extends 'content/content.html' %}
{% block content%}
<section class="about">
    <div class="about__text">
      <div class="about__text--position-inside">
	  <h3 class="about__title">Orígenes Familiares</h3>
	  
<p>Durante <strong>varias generaciones</strong> nuestra familia ha tenido contacto directo con las <strong>viñas y el vino</strong>. </p> 

<p><strong>Mis abuelos</strong> tuvieron viñas en el pueblo donde vivían, situado en la región de La Mancha, construyeron su <strong>bodega artesanal</strong>  y todo el vino que producían era vendido a granel. Fue con ellos con quien tuve mi primer contacto con el <strong>mundo del vino</strong>.  </p>

<p>Más tarde, <strong>mi padre</strong> fue uno de los fundadores de la <strong>cooperativa</strong> local. Hacían vino con uvas de más de 600 viticultores de la zona. Con modernas instalaciones para los años 60, su objetivo era producir grandes cantidades de <strong>vino</strong> para vender a <em>granel</em>. No existía todavía una inquietud por el embotellado ni una verdadera conciencia de calidad. </p>

<h3 class="about__title">Acerca de mí</h3>
<p><strong>A principios de mi carrera</strong> fui requerido para relanzar una <strong>bodega</strong> situada en <em>La Rioja</em>. Por muchos años trabajé como <strong>asesor</strong> para varias <strong>bodegas</strong> de la zona. Fue aquí donde comenzó mi preocupación por la <strong>calidad de los vinos</strong> más que por la cantidad.</p>

<h3 class="about__title">Inicio y desarrollo del actual proyecto</h3>
<p>En <strong>1998</strong> durante una visita a la región de La Manchuela tuve la oportunidad de conocer la aldea <strong>“El Molar”</strong>, situada entre los ríos Júcar y Cabriel, con una altitud entre 650 y 750 metros, suelos de arcilla en las laderas de las montañas y bañada por un arroyo durante todo el año. El lugar parecía <strong>ideal</strong> para comenzar el <strong>proyecto</strong> que siempre había soñado. </p>

<p>Empezamos el proyecto plantando <strong>21 hectáreas de viña</strong>, construimos una pequeña y modesta <strong>bodega</strong> con una capacidad para producir alrededor de <strong>300.000 litros</strong> de vino. En 2011 plantamos 8 hectáreas de las <strong>variedades</strong> locales <em>Graciano y Moravia</em>. En estos momentos estamos estudiando crecer y plantar alrededor de 12 hectáreas nuevas pero aun no tenemos definidas las variedades.</p>

<p>Asimismo contamos con 65 hectáreas propias plantadas con <strong>olivos</strong> de la variedad <em>Arbequina</em> que nos permiten elaborar <strong>aceite de oliva virgen extra</strong> de gran calidad, caracterizado por su gusto dulce y aromas a limón y hierbas. </p>
<p class="owner">Francisco Javier Jiménez (Propietario)</p>
    </div>
      </div>
</section>


{% endblock %}
